<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.resumeList{
		text-align: center;
	}
	table{
		margin: 0 auto;
	}
</style>
</head>
<body>

<div class="resumeApplyList">
<h2>이력서 관리</h2>
   <!--   <table border="1">
         <thead>
            <tr>
               <th>번호</th>
               <th>지원날짜</th>
               <th>이력서 제목</th>
               <th>지원 현황</th>
               <th>이력서 지원 관리</th>
            </tr>
         </thead>
         <tbody>
  
            <tr th:each="list, iterStat : ${resumeApplylist}">
               <td th:text="${iterStat.index + 1}"></td> 
                <td><a th:href="@{/resume/detailResume/{resumeNum}(resumeNum=${list.resumeNum})}" th:text="${list.resumeTitle}"></a></td>
                <td th:text="${list.updatedDate}"></td>
                <td th:text="${list.applyStatus}"></td>
                <td><form th:action="@{/resume/deleteResume}" method="post">
                        <input type="hidden" name="resumeNum" th:value="${list.resumeNum}">
                        <input type="submit" value="삭제">
                    </form>
                </td>
            </tr>
   
         </tbody>
      </table>
      -->
</div>
</body>
</html>